API_BASE_URL=http://localhost:8080

# Nations paths
NATIONS_PATH=/api/v1/nations
NATIONS_EXISTS_PATH=/exists

RIDERS_PATH=/api/v1/riders
RIDERS_WITH_CHILDREN_PATH=/full

TEAMS_PATH=/api/v1/teams
TEAMS_WITH_CHILDREN_PATH=/full
