API_BASE_URL=http://localhost:8080

# Nations paths
NATIONS_PATH=/nations
NATIONS_EXISTS_PATH=/exists

RIDERS_PATH=/riders
RIDERS_WITH_CHILDREN_PATH=/full

TEAMS_PATH=/teams
TEAMS_WITH_CHILDREN_PATH=/full
